.infoCont{
    display:flex;
    flex-direction: column;
    gap: 60px;
}

.infoSect{
    padding: 10px 23%;
    display: flex;
    justify-content: space-between;
    gap: 30px;
}

.iframeWidth{
    width: 500px !important;
    height: 250px !important;
}

.textsInfo{
    padding: 20px 25%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: left;
}
